
.Dice {
    font-size: 10em;
    padding: 0.25em;
    color:black;
}
.shaking {
    animation-name: wiggle;
    animation-duration: 2s;
}

@keyframes wiggle {
    0%,100%{ transform:rotate(0); }
    20%,80% { margin:0; }
    40%{ margin-left:-400px; }
    50%{ margin-left:-200px; }
    60%{ margin-left:400px }
    100%{ transform:rotate(1turn) }
  }
  